/*属性重置*/
* {
  margin: 0;
}
html {
  font-size: 62.5%;
}
/*标题部分header*/
.header {
  font-size: 3.6rem;
  color: #fff;
  background: #5fc0cd;
  text-align: center;
  height: 2.22em;
  line-height: 2.22em;
}
.header span {
  position: absolute;
  left: 0;
  width: 2em;
}
.header span i {
  font-size: 1.5em;
}
.header h1 {
  font-size: 3.6rem;
  font-weight: normal;
}
/*基本信息部分info-base*/
.info-base {
  height: 17.8rem;
  background: url(../img/blurBG.png) no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  padding: 7.9rem 0;
}
.info-base > div {
  height: 16.8rem;
}
.info-base > div div:first-child {
  position: relative;
  margin: 0 3rem;
  height: 16.8rem;
  width: 16.8rem;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
}
.info-base > div div:first-child img {
  position: absolute;
  top: -0.5rem;
  left: -9rem;
}
.info-base > div div:last-child {
  color: #fff;
  margin-bottom: 15rem;
  display: inline-block;
  vertical-align: middle;
}
.info-base > div div:last-child p:first-child {
  font-size: 3.6rem;
}
.info-base > div div:last-child p:first-child span:last-child {
  margin-left: 1em;
}
.info-base > div div:last-child p:last-child {
  margin-top: 1em;
  font-size: 2.4rem;
}
.info-base > div div:last-child p:last-child i {
  margin-right: 1em;
  color: #5fc0cd;
}
/*详细信息部分info-detail*/
.info-detail h2 {
  position: relative;
  margin: 1em;
  padding-left: 1em;
  height: 3.2rem;
  line-height: 3.2rem;
  font-size: 3.2rem;
  color: #333;
}
.info-detail h2 span {
  position: absolute;
  top: 0.5rem;
  left: 0;
  border-left: 3px solid #5fc0cd;
  height: 2.6rem;
  display: inline-block;
}
.info-detail ul {
  list-style: none;
  border-top: solid 1px #e1e5e7;
  border-bottom: solid #e1e5e7 1px;
}
.info-detail ul li {
  margin-left: 1em;
  padding: 1em 0;
  border-bottom: solid #e1e5e7 1px;
  font-size: 3.2rem;
}
.info-detail ul li span:first-child {
  padding: 0 1em;
  border-right: solid 1px #e1e5e7;
  color: #999;
  font-weight: bold;
}
.info-detail ul li span:last-child {
  padding: 0 1em;
  color: #333;
}
.info-detail ul li:nth-child(1) span {
  padding-left: 1.25em;
  font-weight: normal;
  color: #333;
}
.info-detail ul li:nth-child(1) span i {
  margin-right: 0.5em;
  color: #e26163;
  font-size: 0.8em;
}
.info-detail ul li:nth-child(4) span:last-child {
  font-weight: bold;
  color: #e26163;
}
.info-detail ul li:last-child span:first-child {
  float: left;
  height: 2.625em;
  line-height: 2.625em;
  display: block;
}
.info-detail ul li:last-child span:last-child {
  margin-left: 6em;
  display: block;
}
/*底部按钮footer*/
.footer {
  position: fixed;
  bottom: 4rem;
  width: 100%;
}
.footer button {
  padding: 1em 0;
  border: solid #5fc0cd 2px;
  border-radius: 4px;
  width: 42.5%;
  font-size: 3.4rem;
}
.footer button:first-child {
  margin-left: 5%;
  margin-right: 4%;
  background: #fff;
  color: #5fc0cd;
}
.footer button:last-child {
  margin-right: 5%;
  background: #5fc0cd;
  color: #fff;
}
